on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  run_unit_test_from_script_file:
    name: run unit tests from script file
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Cache Flutter
        uses: actions/cache@v4.3.0
        with:
          path: /home/runner/work/otus_test_example/otus_test_example/app_flutter_test/flutter/bin/flutter
          key: flutter-${{ runner.os }}-${{ hashFiles('app_flutter_test/flutter/bin/flutter') }}
      - name: Run unit tests
        run: cd app_flutter_test && sh scripts/run_unit_tests.sh

  run_integration_test_ios:
    name: run integration tests on iOS simulator
    runs-on: macos-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable

      - name: Get dependencies
        run: cd app_flutter_test && flutter pub get

      - name: List available simulators
        run: xcrun simctl list devices available
      - name: Boot simulator
        run: |
          xcrun simctl boot "2E8044D5-ECB3-44AF-BB6B-9258C0940FD1" || true

      - name: Run integration tests
        run: |
          cd app_flutter_test
          flutter test integration_test/custom_test.dart -d "2E8044D5-ECB3-44AF-BB6B-9258C0940FD1"

      - name: Shutdown simulator
        if: always()
        run: xcrun simctl shutdown "2E8044D5-ECB3-44AF-BB6B-9258C0940FD1" || true

  build_android_app:
    name: build Android app
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable

      - name: Build Android app
        run: cd app_flutter_test && flutter build apk
      - name: Upload Android app
        uses: actions/upload-artifact@v4.3.0
        with:
          name: android_app
          path: app_flutter_test/build/app/outputs/flutter-apk/app-release.apk
